################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/*
/*/bin/*
/*/obj/*
/WindowsLauncher/Properties
/WindowsLauncher/WindowsLauncher.csproj.user
/AndroidLauncher/Resource/Bin/Sdk.pdb
/AndroidLauncher/Resource/Bin/Sdk.dll
/AndroidLauncher/Resource/Bin/LiteEngine.pdb
/AndroidLauncher/Resource/Bin/LiteEngine.dll
/AndroidLauncher/Resource/Bin
*.user
