<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application android:allowBackup="true" android:icon="@mipmap/appicon" android:label="@string/app_name" android:roundIcon="@mipmap/appicon_round" android:supportsRtl="true">
  </application>
	
	
	<uses-permission android:name="android.permission.BLUETOOTH"
		android:maxSdkVersion="30" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
                     android:maxSdkVersion="30" />

	<uses-permission android:name="android.permission.INTERNET" />
	<!-- Needed only if your app looks for Bluetooth devices.
         You must add an attribute to this permission, or declare the
         ACCESS_FINE_LOCATION permission, depending on the results when you
         check location usage in your app. -->
	<uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

	<!-- Needed only if your app makes the device discoverable to Bluetooth
         devices. -->
	<uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

	<!-- Needed only if your app communicates with already-paired Bluetooth
         devices. -->
	<uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
</manifest>